/* section{ 
    display: flex;  
}

.section-heading{
    font-size: 40px;
}

section #logo{
    height: 110%;
    width: 35%;
}

section #hello{
    margin-top: -20px;
}

section #hey{
    font-size: 20px;
    margin-top: -20px;
    margin-left: 100px;
}

section #hi{
    margin-top: 20px;
    height: 115%;
} */


.leftside{ 
    width: 45%; 
    overflow: hidden; 
    margin-top: 20px;
}

.leftside img{ 
    margin-left: 50px; 
    width: 100%;  
    height: 75%; 
}

.rightside{ 
    width: 50%; 
    height: 300px; 
    color: black; 
    text-align: center; 
    margin-top: 30px; 
    padding: 40px;
}

.rightside h1{ 
    font-family: monospace;
    text-align: center;
    color: #3090c7;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase; 
} 

.rightside p{  
    text-align: justify;
    font-size: 20px;
    padding: 30px 0; 
}

.rightside ul li{
    font-size: 25px;
    text-align: left;
    margin-left: 40px;
    text-transform: capitalize;

}

.s{
    margin-top: 20px;
}

.s .left{ 
    width: 50%; 
    height: 300px; 
    color: black; 
    text-align: center; 
    padding: 40px;
}

.s .left h1{ 
    font-family: monospace;
    text-align: center;
    color: #3090c7;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase; 
} 

.s .left p{  
    text-align: justify;
    font-size: 20px;
    margin-left: 10px;
    padding: 30px 0; 
}

.s ul li{
    font-size: 25px;
    text-align: left;
    margin-left: 40px;
    text-transform: capitalize;
}

.s .right{ 
    width: 50%; 
    height: auto; 
    overflow: hidden; 
}

.s .right img{ 
    margin-right: 10px; 
    margin-top: -150px;
    width: 100%;  
    height: 140%; 
}

.infra{
    margin-top: -70px;
    margin-bottom: 40px;
}
.infra .left{ 
    width: 50%; 
    height: 300px; 
    color: black; 
    text-align: center; 
    padding: 40px;
}

.infra .left h1{ 
    font-family: monospace;
    text-align: center;
    color: #3090c7;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase; 
} 

.infra .left p{  
    text-align: justify;
    font-size: 20px;
    margin-left: 10px;
    padding: 30px 0; 
}

.infra ul li{
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
    text-transform: capitalize;
}

.infra .right{ 
    width: 50%; 
    height: auto; 
    overflow: hidden; 
}

.infra .right img{ 
    margin-left: 20px; 
    width: 90%;  
    height: 95%; 
}


section.latest-news .article-wrapper{
    display: flex;
    margin-right: -2rem;
}

.latest-news .article-wrapper .card{
    margin-right: 2rem;
}

section.latest-news{
    /* background: var(--light); */
    /* position: relative; */
    z-index:0;
    /* height:55rem; */
}

.latest-news .article-wrapper .card img{
    width: 500px;
    height:250px;
    align-items: center;
    justify-content: center;
}

.latest-news .article-wrapper .card .card-content{
    flex-wrap: 33.33%;
    padding: 2rem;

}

.latest-news .article-wrapper .card .card-content .post-meta{
    margin-bottom:1rem;

}

.latest-news .article-wrapper .card .card-content .post-meta .comment-count{
    margin-left: 1rem;
}

.latest-news .article-wrapper .card .card-content h2{
    font-family: "Raleway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.latest-news .article-wrapper .card .card-content p{
    line-height:1.6;
}

.latest-news .btn-wrapper{
    margin-top: 4rem;
}


.side-image{
    /* float: none; */
    display: flex;
    justify-content: center;
    width: 400px;
}

.side-image-down{
    /* float: none; */
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: 10px 0 0 0 ;
}

.side_image{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 700px;
}
@media(max-width:768px){
    section.center{
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }


}

@media(max-width:500px){

    .side_image{ 
        width: 400px;
        margin: -80px 0;    
   }
   .latest-news .article-wrapper .card img{
       width: 300px;
       align-items: center;
       justify-content: center;
   }

}
