@media (max-width:1700px){
    section.our-services{
        margin-top: 100px;
        margin-bottom: 10px;
    }
    section.our-services .service-card{
        margin-top: 30px;
    }
}
@media (max-width:1100px){
    section.our-services{
        margin-top: 100px;
        margin-bottom: -50px;
    }
    
    .big-deal .container{
        margin-top: 80px;
    }
    .latest-news .article-wrapper{
        flex-direction:column;
    }
    .latest-news .article-wrapper .card:nth-child(1){
        margin-right:0;
        margin-bottom:4rem;
    }

    .moti-image{
        width: 500px;
        height: 500px;
        display: flex;
    }
}


@media(max-width:465px){
    .moti-image{
        width: 300px;
        height: 400px;
    }
}

@media (max-width:991px){
    header.hero{
        flex-direction: column;
    }
    .container{
        max-width: 100%;
    }
    section.our-services{
        margin-top: 380px;
        margin-bottom: -50px;
    }

    .moti-image{
        width: 400px;
        height: 500px;
    }

    section.our-services .service-card{
        margin-top: 50px;
    }
    .about-meal .about-meal-wrap img{
        width: 100%;
    }
    .about-meal .about-meal-wrap h2{
        font-size: 24px;
        margin-top: 30px;
        text-align: center;
    }
    .about-meal .about-meal-wrap p{
        font-size: 16px;
        text-align: justify;
    }
    .about-meal .about-meal-wrap{
        font-size: 16px;
        text-align: center;
        flex-direction: column;
    }
    .top-products .slider-btn{
        display:none!important;
    }
    
    footer{
        margin-top: 0px;
    }
    footer.copyright{
        margin-top: 0;
    }
    footer .instagram-api .post-wrap > div{
        width:calc(1/2*100% - (1 - 1/3)*10px);
    }
}

@media (max-width:768px){ 
    section.top-products .machine-slider .machine-card h2{
        font-size: 0.75rem;
    }
    .about-meal .about-meal-wrap{
        font-size: 14px;
        flex-direction: column;
    }
    .about-meal .about-meal-wrap img{
        width:100%;
        margin-bottom: 1rem;
    }
    .big-deal .container{
        margin-top: 450px;
    }
    section.contact-us{
        flex-direction: column;
    }
    section.contact-us .map{
        align-items: center;
    }
    section.our-services{
        margin-top: 260px;
    }
    section.our-services .card-wrapper{
        flex-direction:column;
    }
    section.our-services .card-wrapper .service-card{
        margin-bottom:1rem;
    }
    footer{
        margin-top: 300px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .box{
        text-align: left;
        margin-right:0;
        margin-bottom:3rem;
    }
    footer .box:nth-child(3) h3{
        text-align:left;
    }
    footer .box:nth-child(3) > div{
        display:block;
    }
}

@media( max-width:576px){
    header.hero .hero-image{
        height: 100px;
        width: 100px;
    }
    header.hero .container{
        padding-left:1rem;
    }
    header.hero{
        margin-top:-3rem;
    }
    .about-meal .about-meal-wrap{
        font-size: 10px;
    }
    section{
        margin-top: 50px;
    }
    section.big-deal .timer > div{
        height: 100px;
        width: 100px;
        margin-right:0.50rem;
        margin-bottom: 1rem;
    }
    section.big-deal .timer{
        margin-right:-0.5rem;
    }
    section.big-deal{
        margin-top: 600px;
        height: 100%;
    }
    section.subscribe .container{
        flex-direction: column;
        padding:0.50rem;
    }
    section.contact-us{
        margin-top: -60px;
        font-size: 20px;
    }
    section.contact-us .map{
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    footer.copyright{
            margin-top: 0;
        }
  
    @media(max-width:320px){
        section.our-services{
            margin-top: 340px;
            margin-bottom: -50px;
        }
        section.big-deal{
            margin-top: 780px;
            height: 100%;
        }
        section{
            margin-top: 50px;
        }
        footer{
            margin-top: 340px;
        } 
        footer.copyright{
            margin-top: 0;
        }

        
} 

}
