
.container-zoom{
    width: 1200px;
    margin:50px auto 0;
    background-color:var(--light);
    padding: 15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 40px;
}

.description h1{
    margin: 10px 0 10px 0;
    font-family: "Raleway-bold";
    font-weight: 300;
}

.description p{
    font-size: 15px;
    line-height: 1.6;
    font-family: "Raleway-semibold";
}

.description span{
    margin-top: 15px;
    display: inline-block;
    font-weight:600;
    font-size: 30px;
    color: #353535;
}

.description button{
    font-size: 18px;
    padding: 15px 50px;
    margin-top:40px;
    cursor: pointer;
    border: 0;
    outline: none;
    color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0,0,0.12) ;
}

.description .buy{
    background-color: orange;
}

.description .cart{
    background-color: black;
    margin-left: 10px;
}

.xzoom-thumbs a{
    text-decoration: none;
}

.xzoom-thumbs img{
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 1px solid #ccc;
}

.xzoom-preview{
    border: 1x solid #e0e0e0;
    box-shadow: 0 4px 20px 2px rgba(0, 0,0,0.2) ;
}

.active{
    border: 1px solid #4aaad2;
    box-shadow:0 0 3px 0 #4aaad2;
}

:root{
    --primary:#3090c7;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2d333f;
}
@media (max-width:991px){
    .container-zoom{
        align-items: center;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}